//Inter--------------------------------------------------------------

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

//Red_Rose--------------------------------------------------------------

@font-face {
	font-family: 'Red_Rose';
	src: url('/fonts/RedRose-SemiBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Red_Rose';
	src: url('/fonts/RedRose-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Red_Rose';
	src: url('/fonts/RedRose-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Red_Rose';
	src: url('/fonts/RedRose-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

//Lexend_Deca--------------------------------------------------------------

@font-face {
	font-family: 'Lexend_Deca';
	src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Lexend_Deca';
	src: url('/fonts/LexendDeca-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

//Zen_Dots--------------------------------------------------------------

@font-face {
	font-family: 'Zen_Dots';
	src: url('/fonts/ZenDots-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

//Geologica--------------------------------------------------------------

@font-face {
	font-family: 'Geologica';
	src: url('/fonts/Geologica-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Geologica';
	src: url('/fonts/Geologica-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}
